@{
    ViewData["Title"] = "Chi tiết sản phẩm";
}

<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All categories</span>
                    </div>
                    <ul id="category">
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="Search1()">
                            <input type="text" placeholder="What do yo u need?" name="search1">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Blog Details Hero Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/User/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog__details__hero__text">
                    <h2>@Model.Title</h2>
                    <ul>
                        <li>By @Model.AuthorName</li>
                        <li>@Model.CreatedDate.ToString("MMM d, yyyy")</li>
                        <li>8 Comments</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero End -->
<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 order-md-1 order-2">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form onsubmit="Search()">
                            <input type="text" placeholder="Search..." name="search" id="search">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Categories</h4>
                        <ul id="blog-category">
                        </ul>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Recent News</h4>
                        <div class="blog__sidebar__recent" id="recent-news">
                        </div>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Search By</h4>
                        <div class="blog__sidebar__item__tags" id="tags">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 order-md-1 order-1">
                <div class="blog__details__text" id="blog-content">
                    @Html.Raw(Model.Content)
                </div>
                <div class="blog__details__content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="blog__details__author">
                                <div class="blog__details__author__pic">
                                    <img src="@Model.Avatar" alt="">
                                </div>
                                <div class="blog__details__author__text">
                                    <h6>@Model.AuthorName</h6>
                                    <span>@Model.AuthorRole</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="blog__details__widget">
                                <ul>
                                    <li><span>Categories:</span> @Model.Category</li>
                                    <li>
                                        <span>Tags:</span>
                                        @{
                                            var tag = "";
                                            foreach (var item in Model.ListTags)
                                            {
                                                tag += item.Name + ", ";
                                            }
                                            if (tag.Length > 0)
                                            {
                                                tag = tag.Remove(Math.Max(0, tag.Length - 2));
                                            }
                                            @tag
                                        }
                                    </li>
                                </ul>
                                <div class="blog__details__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->
<!-- Related Blog Section Begin -->
<section class="related-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related-blog-title">
                    <h2>Post You May Like</h2>
                </div>
            </div>
        </div>
        <div class="row" id="related-blog">
        </div>
    </div>
</section>
<!-- Related Blog Section End -->
@section Scripts{
    <script>
        // category
        $.ajax({
            url: "/api/ACategory/GetAllCategories",
            type: "GET",
            dataType: "json",
            beforeSend: function () {

            },
            success: function (data) {
                $('#category').append('<li><a href="/ShoppingGrid/Index" class="category">All</a></li>');
                data.forEach(function (item, index) {
                    let row = `<li><a href="/ShoppingGrid/Index?id=${item.Id}" class="category">${item.Name}</a></li>`;
                    $('#category').append(row);
                })
            },
            error: function () {

            },
            complete: function () {

            }
        });
        //Blog category
        $.ajax({
            url: "/api/ACategoryBlog/GetAllCategoryBlogs",
            type: "GET",
            dataType: "json",
            beforeSend: function () {

            },
            success: function (data) {
                $('#blog-category').append('<li><a href="/Blog/Index">All</a></li>');
                let row = ''
                data.forEach(function (item, index) {
                    if (item.Id === '@ViewBag.categoryId') {
                        row = `<li><a style="color:lightgreen;" href="/Blog/Index?search=@ViewBag.name&categoryId=${item.Id}&tagId=@ViewBag.tagId">${item.Name} (${item.Quantity})</a></li>`;
                    }
                    else {
                        row = `<li><a href="/Blog/Index?search=@ViewBag.name&categoryId=${item.Id}&tagId=@ViewBag.tagId">${item.Name} (${item.Quantity})</a></li>`;
                    }
                    $('#blog-category').append(row);
                })
            },
            error: function () {

            },
            complete: function () {

            }
        });


        // tin tức mới nhất
        $.ajax({
            url: "/api/ABlog/GetLatestBlogs",
            type: "GET",
            dataType: "json",
            beforeSend: function () {

            },
            success: function (data) {
                $('#recent-news').html('');
                data.forEach(function (item, index) {
                    var words = item.Title.split(" ");
                    var a = "", b = "";
                    for (let i = 0; i < parseInt((words.length + 1) / 2); ++i) {
                        a += words[i].charAt(0).toUpperCase() + words[i].substring(1) + " ";
                    }
                    for (let i = parseInt((words.length + 1) / 2); i < words.length; ++i) {
                        b += words[i].charAt(0).toUpperCase() + words[i].substring(1) + " ";
                    }
                    let date = new Intl.DateTimeFormat('en-GB', { dateStyle: 'full' }).format(new Date(Date.parse(item.CreatedDate)));
                    let row = `<a href="/Blog/Detail?id=${item.Id}" class="blog__sidebar__recent__item">
                                            <div class="blog__sidebar__recent__item__pic">
                                                <img src="${item.Image}" style="width:70px; height:70px;" alt="">
                                            </div>
                                            <div class="blog__sidebar__recent__item__text">
                                                <h6>${a}<br /> ${b}</h6>
                                                <span>${date}</span>
                                            </div>
                                        </a>`;
                    $('#recent-news').append(row);
                });
            },
            error: function () { },
            complete: function () { }
        });
        // tags
        $.ajax({
            url: "/api/Atag/GetAllTags",
            type: "GET",
            dataType: "json",
            beforeSend: function () {

            },
            success: function (data) {
                let row = '';
                data.forEach(function (item, index) {
                    row = `<a href="/Blog/Index?tagId=${item.Id}">${item.Name}</a>`;
                    $('#tags').append(row);
                })
            },
            error: function () {

            },
        });

        // related-blog
        $.ajax({
            url: "/api/ABlog/GetRelatedBlogs?id=" + @Html.Raw(Json.Serialize(Model.Id)),
            type: "GET",
            dataType: "json",
            beforeSend: function () { },
            success: function (data) {
                $('#related-blog').html('');
                data.forEach(function (item, index) {
                    let date = new Intl.DateTimeFormat('en-GB', { dateStyle: 'full' }).format(new Date(Date.parse(item.CreatedDate)));
                    let row = `<div class="col-lg-4 col-md-4 col-sm-6">
                                            <div class="blog__item">
                                                <div class="blog__item__pic">
                                                    <img src="${item.Image}" alt="" style="width: 360px; height: 260px">
                                                </div>
                                                <div class="blog__item__text">
                                                    <ul>
                                                        <li><i class="fa fa-calendar-o"></i> ${date}</li>
                                                        <li><i class="fa fa-comment-o"></i> 5</li>
                                                    </ul>
                                                    <h5><a href="/Blog/Detail?id=${item.Id}">${item.Title}</a></h5>
                                                    <p>${item.Description}</p>
                                                </div>
                                            </div>
                                        </div>`;
                    $('#related-blog').append(row);
                })
            },
            error: function () { },
            complete: function () { }
        });

        function Search() {
            var temp = '/Blog/Detail?search=' + $('input[name="search"]').val();
            window.location.assign('temp');
        };

        function Search1() {
            event.preventDefault();
            let temp = '/ShoppingGrid/Index?search=' + $('input[name="search1"]').val();
            window.location.href = temp;
        };
    </script>
}