@{
    ViewData["Title"] = "Product Detail";
}

<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All categories</span>
                    </div>
                    <ul id="category">
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form onsubmit="Search()">
                            <input type="text" name="search" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/User/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>@Model.Detail.Name</h2>
                    <div class="breadcrumb__option">
                        <a href="/Home/Index">Home</a>
                        <a href="/ShoppingGrid/Index">Shopping Grid</a>
                        <span>@Model.Detail.Name</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large" src="@Model.Detail.Image" alt="Ảnh sản phẩm">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        @{
                            foreach (var item in Model.ListImages)
                            {
                                <img data-imgbigurl="@item.Path" src="@item.Path" alt="">
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.Detail.Name</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(18 reviews)</span>
                    </div>
                    <div class="product__details__price">$@(String.Format("{0:0.00}", Model.Detail.Price))</div>
                    <p>
                        @Model.Detail.Summary
                    </p>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1" id="prd-qtt">
                            </div>
                        </div>
                    </div>
                    <a href="#" class="primary-btn" id="add-to-cart">ADD TO CARD</a>
                    <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    <ul>
                        <li><b>Availability</b> <span>In Stock</span></li>
                        <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                        <li><b>Weight</b> <span>@(Model.Detail.Weight + " " + Model.Detail.Unit)</span></li>
                        <li>
                            <b>Share on</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                               aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                               aria-selected="false">Summary</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Description</h6>
                                <p>
                                    @Model.Detail.Description
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Summary</h6>
                                <p>
                                    @Model.Detail.Summary
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->
<!-- Related Product Section Begin -->
<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Related Product</h2>
                </div>
            </div>
        </div>
        <div class="row" id="related-product">
            @{
                foreach (var item in Model.RelatedProducts)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="@item.Image">
                                <ul class="product__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="/Product/Index?id=@item.Id">@item.Name</a></h6>
                                <h5>$@item.Price.ToString("0.00")</h5>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<!-- Related Product Section End -->
@section Scripts{
    <script>
        // category
        $.ajax({
            url: "/api/ACategory/GetAllCategories",
            type: "GET",
            dataType: "json",
            beforeSend: function () {

            },
            success: function (data) {
                $('#category').append('<li><a href="/ShoppingGrid/Index" class="category">All</a></li>');
                data.forEach(function (item, index) {
                    let row = `<li><a href="/ShoppingGrid/Index?id=${item.Id}" class="category">${item.Name}</a></li>`;
                    $('#category').append(row);
                })
            },
            error: function () {

            },
            complete: function () {

            }
        });

        // ấn add to cart
        $(document).ready(function () {
            $("#add-to-cart").on('click', function () {
                let qtt = $('#prd-qtt').val();
                $.ajax({
                    url: "/ShoppingCart/AddOrUpdateCartItem",
                    type: "POST",
                    data: {
                        id: @Html.Raw(Json.Serialize(Model.Detail.Id)),
                        quantity: qtt
                    },
                    dataType: "json",
                    beforeSend: function () { },
                    success: function (data) {
                        alert("Thêm sản phẩm vào giỏ hàng thành công!");
                    },
                    error: function () { },
                    complete: function () { }
                });
            });
        });

        function Search() {
            event.preventDefault();
            let temp = '/ShoppingGrid/Index?search=' + $('input[name="search"]').val();
            window.location.href = temp;
        };
    </script>
}