@{
    ViewData["Title"] = "Shopping Cart";
    dynamic total = 0;
}
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All categories</span>
                    </div>
                    <ul id="category">
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form onSubmit="Search()">
                            <input type="text" placeholder="What do yo u need?" name="search">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="breadcrumb-section set-bg" data-setbg="/User/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Shopping Cart</h2>
                    <div class="breadcrumb__option">
                        <a href="/Home/Index">Home</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table id="cart-table">
                        <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr id="@item.Id" class="shopping__cart__product">
                                        <td class="shoping__cart__item">
                                            <img src="@item.Image" width="100px" alt="">
                                            <h5>@item.Name</h5>
                                        </td>
                                        <td class="shoping__cart__price">
                                            $@item.Price.ToString("0.00")
                                        </td>
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" min="1" class="product-quantity" value="@item.Quantity">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="shoping__cart__total">
                                            $@((item.Price * item.Quantity).ToString("0.00"))
                                        </td>
                                        <td class="shoping__cart__item__close">
                                            <a onclick="RemoveItem(@item.CartId)" href="#">
                                                <span id="icon-close"
                                                      class="icon_close"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    total += item.Price * item.Quantity;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="/ShoppingGrid/Index" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    <a href="#" onclick=(UpdateCart(event)) class="primary-btn cart-btn cart-btn-right">
                        <span class="icon_loading"></span>
                        Upadate Cart
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>Subtotal <span id="subtotal">$@total.ToString("0.00")</span></li>
                        <li>Total <span id="total">$@total.ToString("0.00")</span></li>
                    </ul>
                    <a href="/CheckOut/Index" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->
@section Scripts{
    <script>
        // category
        $.ajax({
            url: "/api/ACategory/GetAllCategories",
            type: "GET",
            dataType: "json",
            beforeSend: function () {

            },
            success: function (data) {
                $('#category').append('<li><a href="/ShoppingGrid/Index" class="category">All</a></li>');
                data.forEach(function (item, index) {
                    let row = `<li><a href="/ShoppingGrid/Index?id=${item.Id}" class="category">${item.Name}</a></li>`;
                    $('#category').append(row);
                })
            },
            error: function () {

            },
            complete: function () {

            }
        });


        function UpdateQuantity(id, quantity) {
            $.ajax({
                url: "/ShoppingCart/AddOrUpdateCartItem",
                type: "POST",
                data: {
                    id: id,
                    quantity: quantity
                },
                dataType: "json",
                beforeSend: function () { },
                success: function (data) {
                },
                error: function () { },
                complete: function () { }
            });
        }

        function RemoveItem(CartID) {
            event.preventDefault();
            $.ajax({
                url: "/ShoppingCart/RemoveItem",
                type: "POST",
                data: {
                    id: CartID
                },
                dataType: "json",
                success: function () {
                    window.location.href = "/ShoppingCart/Index";
                },
                error: function () {
                },
                complete: function () {
                }
            });

        }

        function UpdateCart(e) {
            e.preventDefault();
            $('.shopping__cart__product').each(function () {
                let id = $(this).attr("id");
                let qtt = $(this).find('.product-quantity').val();
                UpdateQuantity(id, qtt);
            });
            alert("Cập nhật giỏ hàng thành công");
        }

        $('.dec').on('click', function (e) {
            let qtt = parseInt($(this).closest('tr').find('.product-quantity').val());
            let id = $(this).closest('tr').attr('id');
            let price = $(this).closest('tr').find('.shoping__cart__price').html().replace(/\s/g, '').replace('$', '');
            prdprice = price * (qtt - 1);
            $(this).closest('tr').find('.shoping__cart__total').html('$' + parseFloat(prdprice).toFixed(2));
            let total = $('#total').html().replace(/\s/g, '').replace('$', '');
            $('#subtotal').html('$' + parseFloat(total - price).toFixed(2));
            $('#total').html('$' + parseFloat(total - price).toFixed(2));
        });
        $('.inc').on('click', function (e) {
            let qtt = parseInt($(this).closest('tr').find('.product-quantity').val());
            let id = $(this).closest('tr').attr('id');
            let price = $(this).closest('tr').find('.shoping__cart__price').html().replace(/\s/g, '').replace('$', '');
            prdprice = price * (qtt + 1);
            $(this).closest('tr').find('.shoping__cart__total').html('$' + parseFloat(prdprice).toFixed(2));
            let total = $('#total').html().replace(/\s/g, '').replace('$', '');
            $('#subtotal').html('$' + parseFloat(parseFloat(total) + parseFloat(price)).toFixed(2));
            $('#total').html('$' + parseFloat(parseFloat(total) + parseFloat(price)).toFixed(2));
        });


        function Search() {
            event.preventDefault();

            let temp = '/ShoppingGrid/Index?search=' + $('input[name="search"]').val();
            window.location.href = temp;
        };
    </script>
}