@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dashboard";
    string temp = TempData["Alert"] as string;
    string account = ViewBag.account;
    string role = ViewBag.role;
    int pageCount = (int)ViewBag.pageCount;
    int pageNumber = (int)ViewBag.pageNumber;
    int pageSize = (int)ViewBag.pageSize;
    int stt = pageSize * pageNumber - (pageSize - 1);
    int id = (int)ViewBag.Id;
    string name = ViewBag.name;
    if (!string.IsNullOrEmpty(temp))
    {
        <script type="text/javascript">
            alert('@temp');
        </script>
    }
}

<section class="content-header">
    <h1>
        &nbsp;
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/Admin/Blog">Blog</a></li>
        <li class="active">Tất cả bài viết</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Danh mục</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked" id="blog-category">
                        <li>
                            <div class="input-group input-group-sm" style="padding: 1rem;">
                                <input type="text" class="form-control" id="cblog-name">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info btn-flat" id="add-cate">Thêm</button>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Tất cả bài viết</h3>
                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="name" class="form-control pull-right" id="input-search"
                                    placeholder="Search" value="@name">
                                <div class="input-group-btn">
                                    <a href="#"><button class="btn btn-default" id="form-search"><i
                                                class="fa fa-search"></i></button></a>
                                </div>
                                <input type="number" name="pageNumber" id="txtPageNumber" value="1" hidden />
                            </div>
                        </div>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <div class="tab-content" style="margin: 1.5rem">
                    @{
                        foreach (var item in Model)
                        {
                            <div class="blog">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="@item.Avatar" alt="user image">
                                    <span class="username">
                                        @{
                                            if (item.Account == account || role == "admin")
                                            {
                                                <span class="mailbox-read-time pull-right">
                                                    <a href="/Admin/Blog/AddOrUpdate?id=@item.Id" class="link-primary">
                                                        <i class="fa fa-edit"></i>&nbsp;Edit
                                                    </a>
                                                    |&nbsp;
                                                    <a href="/Admin/Blog/Delete?id=@item.Id">
                                                        <i class="fa fa-close"></i>&nbsp;Delete
                                                    </a>
                                                </span>
                                            }
                                        }
                                        <a href="/Admin/Blog/Detail?id=@item.Id">@item.Title</a>
                                        <a href="#" class="pull-right btn-box-tool"></a>
                                    </span>
                                    <span class="description">Written by @item.AuthorName - Shared public -
                                        @item.CreatedDate.ToString("MMM d, yyyy")</span>
                                </div>
                                <p>
                                    @item.Description
                                </p>
                            </div>
                        }
                    }
                </div>
                <div class="box-footer">
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="/Admin/Blog/Index?id=@id&name=@name&pageNumber=@Math.Max(pageNumber-1,1)">&laquo;</a>
                            </li>
                            @for (int i = 1; i <= pageCount; ++i)
                            {
                                <li><a href="/Admin/Blog/Index?id=@id&name=@name&pageNumber=@i">@i</a></li>
                            }
                            <li><a
                                    href="/Admin/Blog/Index?id=@id&name=@name&pageNumber=@Math.Min(pageNumber+1,pageCount)">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /. box -->
        </div>
    </div>
</section>

@section Scripts{
<script>
    $.ajax({
        url: "/Blog/GetAllCategoryBlog",
        type: "GET",
        dataType: "json",
        beforeSend: function () { },
        success: function (data) {
            data.forEach(function (item, index) {
                let row = `<li>
                    <a href="/Admin/Blog/Index?id=${item.id}" style="display:inline-block"><i class="fa fa-folder-o"></i>${item.name}</a>
                    <a href="/Admin/Blog/DeleteCategoryBlog?id=${item.id}" style="text-align:right; display:inline-block; float: right"><i class="fa fa-close"></i>&nbsp</a>
                    </li>`;
                $('#blog-category').prepend(row);
            });

            $('#blog-category').prepend(`<li><a href="/Admin/Blog/Index"><i class="fa fa-folder-o"></i>All</a></li>`);
        },
        error: function () { },
        complete: function () { }
    });

    $('#form-search').on('click', function () {
        window.location.href = "/Admin/Blog/Index?name=" + $('#input-search').val();
    });

    $('#add-cate').click(function () {
        window.location.href = "/Admin/Blog/AddCategoryBlog?name=" + $('#cblog-name').val();
    })
</script>
}